body {
    margin: 0;
    background-color:  white;
    padding: 2rem;
}

h1 {
    color: #FFB347;
    text-shadow:
        -2px -2px 0 #1A1A1A,
         2px -2px 0 #1A1A1A,
        -2px  2px 0 #1A1A1A,
         2px  2px 0 #1A1A1A;
    font-size: 100px;
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 40px 0;
}

.button-item {
    width: 30%;
    max-width: 400px;
    text-align: center;
}

.button-item img {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s;
}

.button-item img:hover {
    transform: scale(1.05);
}

.button-text {
    margin-top: 8px;
    font-size: 50px;
    font-weight: bold;
    color: #1A1A1A;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1A1A1A;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topButton {
    background-color: transparent;
    border: none;
    color:white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.topButton:hover {
    text-decoration: underline;
}

.middle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1A1A1A;
    padding: 1rem;
    text-align: center;
}

.middleText {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color:white;
}